{
  "PositionTrackerFunction": {
    "DATABASE_URL": "postgresql://postgres:dev@host.docker.internal:5432/geotag",
    "REDIS_HOST": "host.docker.internal",
    "REDIS_PORT": "6379",
    "AWS_REGION": "eu-west-1",
    "AWS_LOCATION_COLLECTION": "geotag-geofences",
    "DEV_JWT_SECRET": "local-dev-secret-change-me-please-32chars",
    "COGNITO_USER_POOL_ID": "",
    "COGNITO_CLIENT_ID": "",
    "SNS_TOPIC_ARN": "",
    "ENVIRONMENT": "local"
  },
  "GeofenceManagerFunction": {
    "DATABASE_URL": "postgresql://postgres:dev@host.docker.internal:5432/geotag",
    "REDIS_HOST": "host.docker.internal",
    "REDIS_PORT": "6379",
    "AWS_REGION": "eu-west-1",
    "AWS_LOCATION_COLLECTION": "geotag-geofences",
    "DEV_JWT_SECRET": "local-dev-secret-change-me-please-32chars",
    "COGNITO_USER_POOL_ID": "",
    "COGNITO_CLIENT_ID": "",
    "SNS_TOPIC_ARN": "",
    "ENVIRONMENT": "local"
  },
  "EventProcessorFunction": {
    "DATABASE_URL": "postgresql://postgres:dev@host.docker.internal:5432/geotag",
    "REDIS_HOST": "host.docker.internal",
    "REDIS_PORT": "6379",
    "AWS_REGION": "eu-west-1",
    "AWS_LOCATION_COLLECTION": "geotag-geofences",
    "DEV_JWT_SECRET": "local-dev-secret-change-me-please-32chars",
    "COGNITO_USER_POOL_ID": "",
    "COGNITO_CLIENT_ID": "",
    "SNS_TOPIC_ARN": "",
    "ENVIRONMENT": "local"
  }
}
